/*網頁底色*/
body.hms_style{
    color:#333;
}
.body-plus-default.hms_style{
	background-color:#f3f6f5;
    background-image:none;    
}

/*上方工具列*/
.hms_style .toolBar{
    background-color:#fbdc7e;
}
/*fieldset底色*/
.hms_style fieldset.blockFieldset{
    background-color:#f8f8f8;
}
.hms_style fieldset.blockFieldset legend{
	color:#009caf;
}

/*彈出視窗(modal)底色*/
.hms_style .hms_modal-body{
    background-color:#f9f7ec;
}

/*資列組title/標題顏色*/
.hms_style ul.dataUl>li.dataTitle{
    background-color:#f9f1c8;
}
/*table排版 標題顏色*/
.hms_style .table-plus th{
	background-color:#f9f1c8;
}
/*奇偶行變色*/
.hms_style .table-list-td tr,.hms_style  :not([data-evg-grid-bg-manual]).table-list > tbody > tr:nth-child(2n+1){
	background-color:rgba(252, 248, 228, 1);
}
/*滑鼠移入行數變色*/
.hms_style .table-list-td tr.hover,.hms_style .table-list:not([data-evg-grid-bg-manual]) > tbody > tr:hover{
	background-color:#abefeb !important;
	/*background-color:#d8f5f3 !important;/*較淺的藍色*/
}
/*.hms_style .table-list-td tr.hover, .hms_style :not([data-evg-grid-bg-manual]).table-list > tbody > tr:not(.detail-form):hover{
	background-color:#abefeb !important;
}*/
.hms_style :not([data-evg-grid-bg-manual]).table-list > tbody > tr:nth-child(2n){
	background-color:#f6f6f6;    
}

/*hms 包含展開細項目的奇偶行變色*/
.hms_style :not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+1),
.hms_style :not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+2){
	background-color:rgba(252, 248, 228, 1);
}
:not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+3),
:not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+4){
    background-color:#f6f6f6;    
}

/*plus navBar style*/
.hms_style .navbar-plus{
    /*background-color:pink;*/
    background-color:#28b5ba;
}

.hms_style .navbar-plus a:not(.navbar-nav){
	/*color:#444;*/	
}
.hms_style .navbar-plus a:not(.navbar-brand):hover{
	background-color:rgba(0, 0, 0, 0.08);	
}
.navbar-plus a.navbar-brand:hover,
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color:#FFF;
}

/*detail form(collapse) left border color*/
.hms_style .detail-form{
	border-left-color:rgba(41, 163, 45, 1);
}

.hms_style .sameDetailForm{
	border-left:solid 3px rgba(41, 163, 45, 1) !important;
}

/**/
.hms_style .card{
	/*background-color:#fafafa;*/
	background-color:#f8f8f8;
}

.hms_style .card-footer{
	background-color:rgba(0, 0, 0, 0.02);	
}

.hms_style .card-plus .card-header{
    /*color:#00acc1;*/
    color:#009caf;
    background-color:rgba(0, 0, 0, 0.02);
}


.hms_style .modal-content{
	background-color:#f8f8f8;
}

.hms_style .breadcrumb{
	background-color:#e8eded;
	border:none;
}

/*status color cover*/
/*primary*/
.hms_style .text-primary{
	color:#009caf !important;
}

.hms_style .btn-primary{
	background-color:#25aaad;
}

.hms_style .btn-primary:hover,
.hms_style .btn-primary:active{
	background-color:#2abec1 !important;
}

.hms_style .btn-outline-primary{
	color:#25aaad;
	border-color:#25aaad;
}
.hms_style .btn-outline-primary:hover,
.hms_style .btn-outline-primary:active{
    color:#FFF !important;
    background-color:#2abec1 !important;
    border-color:#2abec1 !important;
}

/*secondary*/
.hms_style .btn-secondary{
    background-color:#777777;
}
.hms_style .btn-secondary:hover,
.hms_style .btn-secondary:active{
    background-color:#555555 !important;
}

.hms_style .btn-outline-secondary{
    color:#777777;
    border-color:#777777;
}
.hms_style .btn-outline-secondary:hover,
.hms_style .btn-outline-secondary:active{
    color:#FFF !important;
    background-color:#555555 !important;
    border-color:#555555 !important;
}
/*info*/
.hms_style .text-info{
    color:rgba(15, 150, 194, 1) !important;
}

.hms_style .btn-info{
    background-color:#0f96c2;
}

.hms_style .btn-info:hover,
.hms_style .btn-info:active{
    background-color:#11abdf !important;
}
.hms_style .btn-outline-info{
    color:#0f96c2;
    border-color:#0f96c2;
}
.hms_style .btn-outline-info:hover,
.hms_style .btn-outline-info:active{
    color:#FFF;
    background-color:#11abdf !important;
    border-color:#11abdf !important;
}