.hms_style ul.dataUl>li{
    padding-left:5px;    
}
.hms_style ul.dataUl, .hms_style ul.ul-3, .hms_style ul.ul-4, .hms_style ul.ul-1{
	margin-bottom:2px;
}

.hms_style ul.dataUl>li.dataTitle{
	min-height:25px;
}