.icon-doc { padding: 5px 13px; background-position: left bottom; background: no-repeat; }

.pdf { background: url("/_ui/images/icon/pdf.ico"); background-size: 26px; }

.xls { background: url("/_ui/images/icon/xls.ico"); background-size: 26px; }

.doc { background: url("/_ui/images/icon/doc.ico"); background-size: 26px; }

.txt { background: url("/_ui/images/icon/txt.ico"); background-size: 26px; }

.cnt { background: url("/_ui/images/icon/cnt.ico"); background-size: 26px; }

.tif { background: url("/_ui/images/icon/tif.ico"); background-size: 26px; }

.jpg { background: url("/_ui/images/icon/jpg.ico"); background-size: 26px; }

.png { background: url("/_ui/images/icon/png.ico"); background-size: 26px; }

.undo { background: url(/_ui/images/ico_undo.png); background-size: 20px 20px; background-repeat: no-repeat; }

.ajax-loader-circle { background: url("/_ui/images/ajax-loader-circle.gif"); background-repeat: no-repeat; background-position: center center; background-size: 40px; padding: 12px 20px; }

.ajax-loader-circle-small { background: url("/_ui/images/ajax-loader-circle-s.gif"); background-repeat: no-repeat; background-position: center center; background-size: 16px; padding: 12px 20px; }

.ajax-loader-progress { background: url("/_ui/images/ajax-loader-progress.gif"); background-repeat: no-repeat; background-position: center center; padding: 5px 110px; }

span.glyphicon { vertical-align: middle; margin-top: -5px; margin-right: 5px; }

html, body { height: 100%; font-family: "Arial", "sans-serif", "Microsoft JhengHei" !important; color: #262626 !important; margin: 0; padding: 0; font-size: 14px !important; }

a { color: #4971B6; }

th, td { padding: 3px 6px !important; }

.ui-datepicker table > tbody > tr > td, .ui-datepicker table > thead > tr > th { padding: 1px !important; }

.width100 { width: 100%; }

.width95 { width: 95%; }

hr { margin-top: 10px !important; margin-bottom: 12px !important; border-top: 1px solid #DDDDDD !important; }

/* primary color -text  */
.text-primary { color: #4971B6 !important; }

.text-info { color: #FF6600 !important; }

.text-secondary { color: #4CAF50 !important; }

.text-danger { color: #9E0B0E !important; }

/* primary color -background-color  */
.bg-primary { background-color: #4971B6 !important; }

.bg-primary-darken { background-color: #1d2d49 !important; }

.bg-primary-lighten { background-color: #b6c6e2 !important; }

.bg-info { background-color: #FF6600 !important; }

.bg-info-darken { background-color: #662900 !important; }

.bg-info-lighten { background-color: #ffc299 !important; }

.bg-secondary { background-color: #4CAF50 !important; }

.bg-secondary-darken { background-color: #1e441f !important; }

.bg-secondary-lighten { background-color: #b5dfb7 !important; }

/* Other colors*/
.plus-gray-light { background-color: #F5F5F5 !important; }

.plus-gray-border { background-color: #D6D6D6 !important; }

.plus-gray-thead { background-color: #E9E9E9 !important; }

.plus-blue-thead { background-color: #7694C8 !important; }

.plus-blue-light { background-color: #E6ECF7 !important; }

.text { font-size: 14px; font-weight: normal; }

.text-large { font-size: 16px; font-weight: normal; }

.text-small { font-size: 12px; font-weight: normal; }

.title { font-size: 18px; font-weight: bold; }

.title-large { font-size: 20px; font-weight: bold; }

.title-small { font-size: 16px; font-weight: bold; }

.app_name { font-size: 20px; font-weight: bold; margin-left: 15px; margin-bottom: 10px; }

.a_default a { color: #0000FF; text-decoration: underline; }
.a_default a:hover { color: #FF6600; }
.a_default a:visited { color: #551A8B; }

span.mark { padding-left: 15px; background: url(/_ui/images/ico_Ft.png) no-repeat; background-position: left center; }
span.indivBtn { padding-left: 2px; padding-right: 12px; line-height: 14px; background: url(/_ui/images/toolbar_icon/icon-search.png) no-repeat; background-size: 14px; background-position: center; }

input[type=text], input[type=number], input[type=url], input[type=email], select { border: 1px solid #BBBBBB; background: #FFFFFF; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; padding: 3px !important; vertical-align: middle; margin: auto; }

input:focus, select:focus { border-color: #66AFE9; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.search_btn { padding: 6px 12px; color: #555555; background-color: #EEEEEE; border: 1px solid #BBBBBB; border-left: 0px; border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; display: inline; border-collapse: separate; line-height: 11px; vertical-align: middle; height: auto; float: left; }
.search_btn:active { box-shadow: 1px 1px 2px 2px rgba(51, 51, 51, 0.3) inset; }

.search_input { border-top-right-radius: 0px; border-bottom-right-radius: 0px; margin-right: 0px; display: inline; height: 28px; float: left; }

/* input[type=button] */
button, input[type=button] { padding: 4px 8px; border-radius: 3px; border: 1px solid #BBBBBB; min-width: 80px; }

button:active, input[type=button]:active { position: relative; top: 1px; }

.btn.btn-lov { min-width: 36px; height: 34px; text-align: center; line-height: 10px; vertical-align: middle; box-shadow: #999999 0px 0px; }

:-ms-input-placeholder.form-disabled { color: #AAAAAA; }

input:not([type=button]):not([type=reset]):not([type=submit]):disabled, select[disabled], textarea[disabled], input[type="file"]:disabled { cursor: not-allowed; color: #555555; background-color: #EEEEEE; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

/* add on container not input element*/
.mark-cell-dirty { position: relative; }

.mark-dirty { width: 0; height: 0; border-style: solid; border-width: 3px; border-color: #f00 transparent transparent #f00; padding: 0; overflow: hidden; vertical-align: top; display: block; position: absolute; }

.hide-no-auth { display: none !important; }

.show-upper { text-transform: uppercase; }

.show-lower { text-transform: lowercase; }

.no-wrap { white-space: nowrap; }

/* Desktop timeout */
#divSessionLogout, #divSessionClose { font-size: 20px; padding: 5px; font-weight: bold; margin: 0; cursor: pointer; text-align: center; color: #FFFFFF !important; }

#divSessionLogout { border-radius: 0px 0px 0px 4px; background-color: #53A4AB; }
#divSessionLogout:hover { color: #FFFFFF !important; background-color: #00CADC !important; }

#divSessionClose { border-radius: 0px 0px 4px 0px; background-color: #777272 !important; }
#divSessionClose:hover { color: #5D5A5A !important; background-color: #DDDDDD !important; }

#modalDesktopSessionTimeout .modal-footer { display: flex; justify-content: space-between; padding: 0px; }
#modalDesktopSessionTimeout span[name=leftTime] { color: #F75555; font-weight: bold; font-size: 20px; }

.hint { font-family: "Arial", "sans-serif", "Microsoft JhengHei"; position: relative; border-bottom: 1px dotted black; }
.hint:not(.hint-error):not([data-evg-hint=""]) { display: inline; }
.hint:not(.hint-error):not([data-evg-hint=""]):hover:after { content: attr(data-evg-hint); font-size: 14px; font-weight: normal; word-break: normal; word-spacing: normal; word-wrap: normal; white-space: normal; line-break: auto; text-align: left; border-radius: 6px; padding: 5px 10px; width: auto; width: 200px; line-height: 35px; position: absolute; z-index: 98; }
.hint:not(.hint-error):hover:after { color: #FFFFFF; background: #555555; }

.hint-primary:not(.hint-error):hover:after { color: #FFFFFF; background: #4971B6; }

.hint-secondary:not(.hint-error):hover:after { color: #FFFFFF; background: #4CAF50; }

.hint-info:not(.hint-error):hover:after { color: #FFFFFF; background: #FF6600; }

.hint-top:hover:after { bottom: 100%; left: 0px; }

.hint-bottom:hover:after { top: 100%; left: 0px; }

.hint-left:hover:after { bottom: 0px; right: 102%; }

.hint-right:hover:after { bottom: 0px; left: 102%; }

.hint-error { position: relative; }
.hint-error:hover:after { content: attr(data-evg-hint-error); font-size: 14px; font-weight: normal; word-break: normal; word-spacing: normal; word-wrap: normal; white-space: normal; line-break: auto; text-align: left; border-radius: 6px; padding: 5px 10px; width: auto; width: 200px; line-height: 35px; position: absolute; z-index: 98; color: #FFFFFF; background: #9E0B0E; }

.alert { padding: 4px !important; margin-bottom: 2px !important; }

button.close { text-align: right; }

.has-error, input.has-error, select.has-error, textarea.has-error { border: 1px solid #9E0B0E; background-color: #FBC2C4; }

/* override bootstrap nav menu*/
.navbar { position: relative; margin-bottom: 10px; border: 1px solid transparent; }

.navbar-default { font-size: 15px; background-color: #E6ECF7; border-width: 1px; border-radius: 4px; }
.navbar-default .navbar-brand { color: #083772; }
.navbar-default .navbar-nav > li > a { color: #262626; background-color: #E6ECF7; }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: #4971B6; background-color: #f8f8f8; }
.navbar-default .navbar-nav > .active > a { color: #FFFFFF; background-color: #7694C8; }
.navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { color: #FFFFFF; background-color: #7694C8; }
.navbar-default .navbar-toggle { border-color: #7694C8; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle .icon-bar { background-color: #7694C8; }
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar { background-color: #E6ECF7; }

/* override bootstrap nav menu - end*/
.btn-primary { color: #FFFFFF; background-color: #7694C8; border-color: #7694C8; }
.btn-primary:hover, .btn-primary:focus { color: #FFFFFF; background-color: #4971B6; border-color: #4971B6; }

/***********************************/
/* Custom Bootstrap Panel          */
/***********************************/
.panel, .panel-group { margin-bottom: 12px; }

.panel-group .panel + .panel { margin-top: 3px; }

.panel-body { padding: 9px; }

.panel-heading, .panel-footer { padding: 6px 9px; }

.panel > .table caption, .panel > .table-responsive > .table caption, .panel > .panel-collapse > .table caption { padding-right: 9px; padding-left: 9px; }
