body { font-family: "Verdana", "Arial", "Helvetica", "sans-serif"; }

.f12 { font-size: 12px; }

.title { font-size: 18px; font-weight: bold; }

.conTit18b1 { font-size: 18px; font-weight: bold; color: #FF6600; margin-left: 0px; margin-top: 20px; margin-bottom: 10px; }

.navTit13b3 { margin: 0px; padding: 0px; color: #FFFFFF; font-size: 13px; color: #9E0B0E; font-weight: bold; }
