#hmsSlide_Content{
	padding-left:0px;
}
.slideMenu_openBtn{
    min-width: auto;
    position: absolute;
    z-index: 1;
    display: none;
    padding:3px;
    background-color:#CCC;
    width:30px;
    height:30px;
    border-radius:2px;
    text-align:center;
    line-height:27px;
    box-sizing:border-box;
    left:0px;
    cursor:pointer;
}
.slideMenu_closeBtn {
	display: inline-block;
	color:#333;
    background-color: #CCC;
    font-size: 1.2rem;
    width: 25px;
    height: 25px;
    text-align: center;
    float: right;
    position:relative;
    cursor:pointer;
}

.slideMenu_colBtn {
  z-index:3;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0px;
  left: 0px;
  transition-duration: 0.5s;
  background-color:#CCC;
  background-color:#00bcd4;
  display:inline-block;
  float:left;
}
.slideMenu_colBtn.static{
    position:relative;
}
.slideMenu_colBtn .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 2px;
  width: 13px;
  top: 12px;
  left:6px;
  background-color: #212121;
  background-color:#FFF;
}
.slideMenu_colBtn .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 13px;
  height: 2px;
  background-color: #212121;
  background-color:#FFF;
  content: "";
  top: -5px;
}
.slideMenu_colBtn .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 13px;
  height: 2px;
  background-color: #212121;
  background-color:#FFF;
  content: "";
  top: 5px;
}
.slideMenu_colBtn.open{
  left:0px;  
}
.slideMenu_colBtn.open .icon {
  transition: 0.5s;
  width:10px;
  left:9px;  
}        
.slideMenu_colBtn.open .icon:before {          
  -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-9.5px, -4px);
          transform: rotateZ(-45deg) scaleX(0.75) translate(-9.5px, -4px);
}
.slideMenu_colBtn.open .icon:after {
  -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-9.5px, 4px);
          transform: rotateZ(45deg) scaleX(0.75) translate(-9.5px, 4px);
}
.slideMenu_colBtn:hover {
  cursor: pointer;
}