@charset "UTF-8";
.icon-doc { padding: 5px 13px; background-position: left bottom; background: no-repeat; }
.icon-doc.pdf { background: url("/_ui/images/icon/pdf.ico"); background-size: 26px; }
.icon-doc.xls { background: url("/_ui/images/icon/xls.ico"); background-size: 26px; }
.icon-doc.doc { background: url("/_ui/images/icon/doc.ico"); background-size: 26px; }
.icon-doc.txt { background: url("/_ui/images/icon/txt.ico"); background-size: 26px; }
.icon-doc.cnt { background: url("/_ui/images/icon/cnt.ico"); background-size: 26px; }
.icon-doc.tif { background: url("/_ui/images/icon/tif.ico"); background-size: 26px; }
.icon-doc.jpg { background: url("/_ui/images/icon/jpg.ico"); background-size: 26px; }
.icon-doc.png { background: url("/_ui/images/icon/png.ico"); background-size: 26px; }

.undo { background: url(/_ui/images/ico_undo.png); background-size: 20px 20px; background-repeat: no-repeat; }

.ajax-loader-circle { background: url("/_ui/images/ajax-loader-circle.gif"); background-repeat: no-repeat; background-position: center center; background-size: 40px; padding: 12px 20px; }

.ajax-loader-circle-small { background: url("/_ui/images/ajax-loader-circle-s.gif"); background-repeat: no-repeat; background-position: center center; background-size: 16px; padding: 12px 20px; }

.ajax-loader-progress { background: url("/_ui/images/ajax-loader-progress.gif"); background-repeat: no-repeat; background-position: center center; padding: 5px 110px; }

/*
/* latin-ext */
/* cyrillic-ext */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_util_lib/googlefonts/OpenSans/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format("woff2"); unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F; }
/* cyrillic */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_util_lib/googlefonts/OpenSans/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format("woff2"); unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_util_lib/googlefonts/OpenSans/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format("woff2"); unicode-range: U+1F00-1FFF; }
/* greek */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_util_lib/googlefonts/OpenSans/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format("woff2"); unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_util_lib/googlefonts/OpenSans/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format("woff2"); unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_util_lib/googlefonts/OpenSans/mem8YaGs126MiZpBA-UFW50bbck.woff2) format("woff2"); unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face { font-family: 'Open Sans'; font-style: normal; font-weight: 400; src: local("Open Sans Regular"), local("OpenSans-Regular"), url(/_util_lib/googlefonts/OpenSans/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2"); unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
/*-----------------------------------------------------------------------------------------------------*/
/* -----------------------------------------------------------------------------------------------------------------------  */
.title { font-weight: bold; }

.hide-no-auth { display: none !important; }

.mark-dirty { overflow: hidden; vertical-align: top; display: block; position: absolute; border-width: 3px; border-style: solid; }

.mark-cell-dirty { position: relative; }

/* -----------------------------------------------------------------------------------------------------------------------  */
.hint { position: relative; }
.hint:hover:after { word-break: normal; word-spacing: normal; word-wrap: normal; white-space: normal; line-break: auto; text-align: left; border-radius: 4px; position: absolute; font-weight: normal; z-index: 98; }
.hint:not(.hint-error) { display: inline; }
.hint:not(.hint-error):not([data-evg-hint=""]):hover:after { content: attr(data-evg-hint); }
.hint:not(.hint-error):hover:after { border-width: 1px; border-style: solid; }

.hint-error { position: relative; }
.hint-error:hover:after { content: attr(data-evg-hint-error); }

.hint-primary:not(.hint-error):hover:after { border: 0; }

.hint-secondary:not(.hint-error):hover:after { border: 0; }

.hint-info:not(.hint-error):hover:after { border: 0; }

.hint-top:hover:after { bottom: 100%; left: 0; }

.hint-bottom:hover:after { top: 100%; left: 0; }

.hint-left:hover:after { bottom: 0; right: 102%; }

.hint-right:hover:after { bottom: 0; left: 102%; }

/* -----------------------------------------------------------------------------------------------------------------------  */
.body-plus-default { font-family: "Open Sans", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif"; }

.table-plus th { border-width: 1px; border-style: solid; }
.table-plus.table-detail > tbody > tr > th { white-space: nowrap; text-align: right; border-width: 2px; border-style: solid; font-weight: normal; }
.table-plus.table-detail > tbody > tr > td { border-width: 1px; border-style: solid; }
.table-plus.table-list > tbody > tr > th { text-align: center; align: center; border-width: 1px; border-style: solid; }
.table-plus.table-list > tbody > tr > td { vertical-align: middle; border-width: 1px; border-style: solid; }
.table-plus.table-list-border > tbody > tr > td { vertical-align: middle; border-width: 1px; border-style: solid; }
.table-plus.table-dashedborder { border-left: 0; border-right: 0; }
.table-plus.table-dashedborder > tbody > tr > td { border-width: 1px; border-style: dashed; border-left: 0; border-right: 0; }
.table-plus.table-dashedborder th { border-left: 0; border-right: 0; border-top: 0; }
.table-plus.table-dashedborder:not([data-evg-grid-bg-manual]) > tbody > tr:hover { background: linear-gradient(to right, #1c84c6 4px, #ffffff 0px); background-repeat: no-repeat; }

.table-nobordered table, .table-nobordered tr, .table-nobordered th, .table-nobordered td { border: 0 !important; }

.table-bordered table, .table-bordered tr, .table-bordered th, .table-bordered td { border-width: 1px !important; border-style: solid !important; }

tr.focus { border-width: 2.5px; border-style: solid; }

.table-list-border tr.detail-header.show { border-left-width: 3px; border-left-style: solid; border-top-width: 3px; border-top-style: solid; border-right-width: 3px; border-right-style: solid; }
.table-list-border tr.detail-form { border-left-width: 3px; border-left-style: solid; border-bottom-width: 3px; border-bottom-style: solid; border-right-width: 3px; border-right-style: solid; }

.detail-form { border-left-width: 3px; border-left-style: solid; }
.detail-form th { text-align: right; }

/*---navbar--*/
.navbar-plus { font-family: "Open Sans", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif"; position: relative; border-width: 1px; border-style: solid; }

.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; }
.nav .nav-tabs { border-bottom-width: 1px; border-bottom-style: solid; }

.has-error, input.has-error, select.has-error, textarea.has-error { border-width: 1px; border-style: solid; }

a.navbar-brand { font-weight: bold; }

span.mark { padding: 0 0 0 0.9375rem; background-color: inherit; background: url(/_ui/images/ico_Ft.png) no-repeat; background-position: left center; }

/* -----------------------------------------------------------------------------------------------------------------------  */
/* SOL+ header START */
#app_header { top: 0; z-index: 999; }

#app_footer { text-align: center; position: fixed; bottom: 0; z-index: 999; background: url("/_ui/images/footer.png") repeat-x scroll 0 -5px; border-top-width: 1px; border-top-style: solid; }

.header_toolbar_home { float: left; }

.header_toolbar_tool { margin: 6px 0px 2px 6px; padding-right: 10px; float: right; text-align: right; }
.header_toolbar_tool img { opacity: 0.65; filter: alpha(opacity=65); }
.header_toolbar_tool img:hover { cursor: pointer; opacity: 1.0; filter: alpha(opacity=100); }

.header_toolbar_logo { float: left; }

.show_login_id { font-family: "Open Sans", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif"; font-weight: bold; }

/* SOL+ header END */
/*ForColorBox.css*/
#cboxOverlay { opacity: 0.60; filter: alpha(opacity=60); }

#cboxPrevious { background: url(/_util_lib/colorbox/1.6.4/css/images/controls.png) no-repeat top left; }

#cboxLoadedContent { border-width: 5px; border-style: solid; }

#cboxNext { background: url(/_util_lib/colorbox/1.6.4/css/images/controls.png) no-repeat top right; }

#cboxClose { background: url(/_util_lib/colorbox/1.6.4/css/images/controls.png) no-repeat top center; }

#cboxLoadingGraphic { background: url(/_util_lib/colorbox/1.6.4/css/images/loading.gif) no-repeat center center; }

/*WizardStep.css*/
.wizard > .steps { position: relative; display: block; }
.wizard > .steps > ul > li { float: left; }
.wizard > .steps a { display: block; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.wizard > .steps a:hover, .wizard > .steps a:active { display: block; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active { cursor: default; }
.wizard > .steps .current a { cursor: default; }
.wizard > .steps .done a { opacity: 0.6; }
.wizard.vertical > .steps { display: inline; float: left; }
.wizard.vertical > .steps > ul > li { float: none; }
.wizard.vertical > .content { display: inline; float: left; }
.wizard.vertical > .actions { display: inline; float: right; }
.wizard > .actions { position: relative; display: block; text-align: right; }
.wizard > .actions > ul { display: inline-block; text-align: right; }
.wizard > .actions > ul > li { float: left; }
.wizard > .actions a { display: block; text-decoration: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.wizard > .actions a:hover, .wizard > .actions a:active { display: block; }
.wizard > .content { display: block; overflow: hidden; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.wizard > .content > .body { float: left; position: absolute; }
.wizard > .content > .body ul { list-style: disc !important; }
.wizard > .content > .body ul > li { display: list-item; }
.wizard > .content > .body > iframe { border: 0 none; }
.wizard > .content > .body input { border-width: 1px; border-style: solid; }
.wizard > .content > .body input[type="checkbox"] { display: inline-block; }
.wizard > .content > .body input.error { border-width: 1px; border-style: solid; }
.wizard > .content > .body input label { display: inline-block; }
.wizard > .content > .body input label.error { display: inline-block; }

/* -------------------------------------- TOGGLE SWITCH -------------------------------------- */
/* The switch - the box around the slider */
.switch { position: relative; display: inline-block; }
.switch input { display: none; }

/* Hide default HTML checkbox */
/* The slider */
.slider { position: absolute; cursor: pointer; top: 0; left: 0; right: 0; bottom: 0; -webkit-transition: .4s; transition: .4s; }
.slider:before { position: absolute; content: ""; left: 4px; bottom: 4px; -webkit-transition: .4s; transition: .4s; }
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }

input:checked + .slider:before { -webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }

/* -----------------------------------------------------------------------------------------------------------------------  */
.card-plus { border-radius: 0; }
.card-plus .card-header[data-toggle="collapse"] i.fas.fa-angle-up { transform: rotate(0deg); transition: all 0.4s ease; }
.card-plus .card-header[data-toggle="collapse"].collapsed i.fas.fa-angle-up { transform: rotate(180deg); }

.card-noBordered { border: 0; }

.card-func { border-bottom-width: 1px; border-bottom-style: solid; }

.nav-tabs .nav-link.active { font-weight: bold; }

.tab-line li a.nav-link { border: 0; }
.tab-line li a.nav-link.active { border-bottom-width: 2px; border-bottom-style: solid; }

.btn-group > .btn:hover, .btn-group > .btn:focus { z-index: 2; }
.btn-group > .btn:active { top: 0; border-width: 1px; border-style: solid; }

.btn-plus { touch-action: manipulation; -webkit-transition: all 0.2s ease-out 0s; -o-transition: all 0.2s ease-out 0s; transition: all 0.2s ease-out 0s; border-radius: 1px; border-width: 1px; border-style: solid; font-weight: normal; }

.btn-default:focus, .btn-default:active:focus { z-index: 2; }

.btn-primary:focus, .btn-primary:active:focus { z-index: 2; }

.btn-secondary:focus, .btn-secondary:active:focus { z-index: 2; }

.btn-plus-icon { border-radius: 1px; }

.modal-plus .modal-content { border-radius: 0; border-width: 1px; border-style: solid; }

.accordion-plus .accordion-msg { display: block; cursor: pointer; border-top-width: 1px; border-top-style: solid; font-weight: 600; }
.accordion-plus .accordion-msg:focus, .accordion-plus .accordion-msg:hover { text-decoration: none; }

.breadcrumb { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; list-style: none; border-radius: 0; border-width: 1px; border-style: solid; }

li.breadcrumb-item:first-child { font-weight: bold; }

.badge-primary[href]:focus, .badge-primary[href]:hover { text-decoration: none; }

.badge-warning[href]:focus, .badge-warning[href]:hover { text-decoration: none; }

.badge-light[href]:focus, .badge-light[href]:hover { text-decoration: none; }

.badge-dark[href]:focus, .badge-dark[href]:hover { text-decoration: none; }

.badge-dot { display: inline-block; border-radius: 50%; }

.callout { border-radius: .25rem; border-width: 1px; border-style: solid; border-left-width: .25rem; }

.font-compare { font-family: "Consolas", "Microsoft JhengHei", "monaco", monospace !important; }

.font-default { font-family: "Open Sans", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif" !important; }

.font-normal { font-family: "Arial", "Microsoft JhengHei", "Helvetica", "sans-serif" !important; }

.sidebar-plus { position: fixed; overflow: auto; display: none; z-index: 99; top: 4.6875rem; left: 0; }
.sidebar-plus a.sidebar-plus-item, .sidebar-plus a.sidebar-plus-item-brand { display: block; text-decoration: none; }
.sidebar-plus a.sidebar-plus-item-brand { font-weight: bold; }
.sidebar-plus a.sidebar-plus-item.active { font-weight: bold; }
.sidebar-plus .sidebar-plus-dropdown a.dropdown-item.active { font-weight: bold; }

.sidebar-plus-menu-toggle { position: fixed; cursor: pointer; opacity: 0.7; z-index: 99; top: 5rem; font-weight: bold; left: 0; }
.sidebar-plus-menu-toggle:hover { opacity: 1; }

.sidebar-plus-item-brand .sidebar-plus-menu-icon { float: right; }

@media screen and (max-width: 700px) { .sidebar-plus-menu-icon, .sidebar-plus-menu-toggle { display: none; }
  .sidebar-plus { position: fixed; }
  .sidebar-plus a.sidebar-plus-item { float: left; }
  .sidebar-plus-dropdown.dropdown-menu.show { position: fixed !important; } }
@media screen and (max-width: 400px) { .sidebar-plus { position: relative; }
  .sidebar-plus a.sidebar-plus-item, .sidebar-plus a.sidebar-plus-item-brand { text-align: center; float: none; }
  .sidebar-plus-dropdown.dropdown-menu.show { position: absolute !important; } }
.checkbox-plus .checkbox-label { position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.checkbox-plus .checkbox-label input[type=checkbox] { position: absolute; opacity: 0; cursor: pointer; }
.checkbox-plus .checkbox-label input[type=checkbox]:checked ~ .checkmark:after { display: block; }
.checkbox-plus .checkbox-label .checkmark { position: absolute; top: 0.3rem; left: 0; }
.checkbox-plus .checkbox-label .checkmark:after { content: ""; position: absolute; display: none; left: 0.45rem; top: 0.1rem; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); border-style: solid; border-width: 0px 0.2rem 0.2rem 0; }
.checkbox-plus.checkbox-plus-lg .checkbox-label > .checkmark { top: 0.2rem; left: 0; }
.checkbox-plus.checkbox-plus-lg .checkbox-label > .checkmark:after { top: 0.2rem; left: 0.5rem; border-width: 0px 0.2rem 0.2rem 0; }
.checkbox-plus.checkbox-plus-sm .checkbox-label > .checkmark { top: 0.2rem; left: 0; }
.checkbox-plus.checkbox-plus-sm .checkbox-label > .checkmark:after { top: 0.15rem; left: 0.3rem; border-width: 0px 0.15rem 0.15rem 0; }
.checkbox-plus.checkbox-plus-disabled .checkbox-label { cursor: default; }
.checkbox-plus.checkbox-plus-inline { display: inline-block; }

.radiobutton-plus .radiobutton-label { position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.radiobutton-plus .radiobutton-label input[type=radio] { position: absolute; opacity: 0; cursor: pointer; }
.radiobutton-plus .radiobutton-label input[type=radio]:checked ~ .checkmark:after { display: block; }
.radiobutton-plus .radiobutton-label .checkmark { position: absolute; top: 0.35rem; left: 0; border-radius: 50%; }
.radiobutton-plus .radiobutton-label .checkmark:after { content: ""; position: absolute; display: none; top: 0.375rem; left: 0.375rem; border-radius: 50%; }
.radiobutton-plus.radiobutton-plus-lg .radiobutton-label .checkmark { top: 0.4rem; left: 0; }
.radiobutton-plus.radiobutton-plus-lg .radiobutton-label .checkmark:after { top: 0.4rem; left: 0.45rem; }
.radiobutton-plus.radiobutton-plus-sm .radiobutton-label .checkmark { top: 0.2rem; left: 0; }
.radiobutton-plus.radiobutton-plus-sm .radiobutton-label .checkmark:after { top: 0.3rem; left: 0.3rem; }
.radiobutton-plus.radiobutton-plus-disabled .radiobutton-label { cursor: default; }
.radiobutton-plus.radiobutton-plus-inline { display: inline-block; }

/* ----------------------------------元件的CSS START---------------------------------- */
.progress-title { font-size: 18px; font-weight: 700; }

.progress-outer { border-radius: 45px; position: relative; }

.progress { border-radius: 20px; }
.progress .progress-value { position: absolute; font-family: "Open Sans", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif"; top: 3px; right: 10px; font-weight: 700; }
.progress .progress-bar { border-radius: 20px; }
.progress .progress-bar.active { animation: progress-bar-stripes 2s linear infinite; }
.progress.active .progress-bar { animation: progress-bar-stripes 2s linear infinite; }

.progressbar-modal-content { padding: 0; }
.progressbar-modal-content > div:nth-child(2) { border-bottom-width: 1px; border-bottom-style: solid; }

.progress-status { font-family: "Open Sans", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif"; }

/*---------------------------------------------------------------------------------*/
.evgFileUpload-title { font-family: "Open Sans", "Microsoft JhengHei", "Arial", "Helvetica", "sans-serif"; }

#evgFileUploadModel .modal-header .close { outline: unset; }

.evgFileUpload-uploader-outer { display: flex; font-family: "Consolas", "Microsoft JhengHei", "monaco", monospace; }

.evgFileUpload-uploader { display: block; clear: both; }
.evgFileUpload-uploader input[type="file"] { display: none; }
.evgFileUpload-uploader label { float: left; clear: both; text-align: center; border-width: 3px; border-style: dashed; transition: all .2s ease; user-select: none; }
.evgFileUpload-uploader label.hover { border-width: 3px; border-style: solid; }
.evgFileUpload-uploader label .hover #start i.fa { transform: scale(0.8); opacity: 0.3; }

#evgFileUploadDragStart { float: left; clear: both; }
#evgFileUploadDragStart.hidden { display: none; }
#evgFileUploadDragStart i { transition: all .2s ease-in-out; }

.evgFileUpload-uploader-list-items { display: flex; align-items: center; }

#evgFileUploadNoFileSelectStr { justify-content: center; align-items: center; opacity: 0.5; display: flex; }

#evgFileUploadList { overflow-y: scroll; overflow-x: hidden; }
#evgFileUploadList i.close, #evgFileUploadList i.check, #evgFileUploadList i.notice { float: none; }
#evgFileUploadList .fa-info-circle { cursor: pointer; }

.evgFileUpload-Bottom { text-align: center; }

/* Desktop timeout */
#divSessionLogout { text-align: center; border-radius: 0px 0px 0px 4px; cursor: pointer; }

#divSessionClose { border-radius: 0px 0px 4px 0px; text-align: center; cursor: pointer; }

#modalDesktopSessionTimeout .modal-footer { display: flex; justify-content: space-between; }

/* ----------------------------------元件的CSS END---------------------------------- */
