@charset "UTF-8";
/* -----------------------------------------------------------------------------------------------------------------------  */
:-ms-input-placeholder.form-disabled { color: #AAAAAA; }

.mark-dirty { border-color: #FF0000 transparent transparent #FF0000; }

/* -----------------------------------------------------------------------------------------------------------------------  */
.hint:not(.hint-error):hover:after { color: #212529; background: #FFFFFF; border-color: rgba(0, 0, 0, 0.2); }

.hint-error:hover:after { color: #FFFFFF; background: #D13F42; }

.hint-primary:not(.hint-error):hover:after { color: #FFFFFF; background: #2574AB; }

.hint-secondary:not(.hint-error):hover:after { color: #FFFFFF; background: #666B70; }

.hint-info:not(.hint-error):hover:after { color: #FFFFFF; background: #259DAB; }

/* -----------------------------------------------------------------------------------------------------------------------  */
.body-plus-default { background-color: #DDE4F1; color: #000000; }

.body-plus-bg-light { background-color: #F7F7F7; color: #000000; }

.table-plus th { background-color: #E9EBF0; color: #3B4354; border-color: #DDDDDD; }
.table-plus.table-detail.table-info { background-color: #FFFFFF; }
.table-plus.table-detail.table-info > tbody > tr > th { background-color: #FFFFFF; color: #1E7BC1; }
.table-plus.table-detail > tbody > tr > th { border-color: #FFFFFF; }
.table-plus.table-detail > tbody > tr > td { border-color: #FFFFFF; }
.table-plus.table-list > tbody > tr > th { border-color: #AAAAAA; }
.table-plus.table-list > tbody > tr > td { border-color: #DDDDDD; }
.table-plus.table-list-border > tbody > tr > td { border-color: #DDDDDD; }
.table-plus.table-dashedborder > tbody > tr > td { border-color: #DDDDDD; }

.table-nobordered table, .table-nobordered tr, .table-nobordered th, .table-nobordered td { background-color: #FFFFFF !important; box-shadow: none !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important; }

.table-bordered table, .table-bordered tr, .table-bordered th, .table-bordered td { border-color: #AAAAAA !important; }

.table-list tr td { color: #0E163A; }
.table-list th { color: #000000; }
.table-list:not([data-evg-grid-bg-manual]) > tbody > tr:nth-child(odd) { background-color: #F2F2F2; }
.table-list:not([data-evg-grid-bg-manual]) > tbody > tr:nth-child(even) { background-color: #FFFFFF; }
.table-list:not([data-evg-grid-bg-manual]) > tbody > tr:hover { background-color: #BEDDF6 !important; }

.list-td { background-color: #F2F2F2; }

.list-td-even { background-color: #FFFFFF; }

.list-td-hover { background-color: #BEDDF6 !important; }

tr.focus { background-color: #E6ECF7; border-color: #2894FF; }

.table-list-td tr { background-color: #F2F2F2; }
.table-list-td tr.even { background-color: #FFFFFF; }
.table-list-td tr.hover { background-color: #BEDDF6 !important; }

.table-list-border tr.detail-header.show { border-left-color: #688ED3; border-top-color: #688ED3; border-right-color: #688ED3; }
.table-list-border tr.detail-form { border-left-color: #688ED3; border-bottom-color: #688ED3; border-right-color: #688ED3; }

.detail-form { border-left-color: #005B9A; }
.detail-form th { text-align: right; color: #3071A9; }
.detail-form span { color: #000000; }

.detail-grid .table-list:not([data-evg-grid-bg-manual]) > tbody > tr:hover { background-color: #E9E9E9 !important; }

/*---navbar--*/
.navbar-plus { background: #118077; color: #FFFFFF; border-color: transparent; }
.navbar-plus a.navbar-brand:hover { color: #CCCCCC; }
.navbar-plus a:not(.navbar-nav) { color: #FFFFFF; }
.navbar-plus .dropdown-menu a:not(.dropdown-toggle) { color: #000000; }
.navbar-plus .dropdown-menu a:not(.dropdown-toggle):hover { background-color: #F5F5F5; }

.nav .nav-tabs { border-bottom-color: #DDDDDD; }

.navbar-plus-bg-dark { background: #666666; }

.navbar-plus-bg-blue { background: #17496B; }

.navbar-plus-bg-green { background: #279759; }

.navbar-expand-lg .navbar-nav .nav-link:hover { color: #CCCCCC; }

.navbar-toggler .navbar-toggler-icon { color: #FFFFFF; }
.navbar-toggler .navbar-toggler-icon:hover { color: #CCCCCC; }

.has-error, input.has-error, select.has-error, textarea.has-error { background-color: #FBC2C4; border-color: #9E0B0E; }

.btn.btn-lov { box-shadow: #999999 0px 0px; }

span.caret { border-left-color: transparent; border-right-color: transparent; }
span.mark { background-color: inherit; }

.nav > li > a:hover, .nav > li > a:focus { background-color: transparent; }

/* -----------------------------------------------------------------------------------------------------------------------  */
/* SOL+ header START */
#app_header { background: #EEEEEE; box-shadow: 2px 1px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }

#app_footer { color: #808080; border-top-color: #BBBBBB; }

.header_toolbar_home { color: #083772; }
.header_toolbar_home button[type=button] { color: #F5F5F5; }

.show_login_id { color: #3B4354; }

.show_file_name { color: #4CAF50; }

/* SOL+ header END */
/*ForColorBox.css*/
#cboxOverlay { background: #AAAAAA; }

#cboxTitle { color: #7694C8; }

#cboxLoadedContent { border-color: #7694C8; }

/*WizardStep.css*/
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active { background: #EEEEEE; color: #AAAAAA; }
.wizard > .steps .current a { background: #385F71; color: #FFFFFF; }
.wizard > .steps .current a:hover, .wizard > .steps .current a:active { background: #3071A9; }
.wizard > .steps .done a { background: #4e97ac; color: #FFFFFF; }
.wizard > .steps .done a:hover, .wizard > .steps .done a:active { background: #2574AB; }
.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active { background: #FF6600; color: #FFFFFF; }
.wizard > .actions a { background: #2574AB; color: #FFFFFF; }
.wizard > .actions a:hover, .wizard > .actions a:active { background: #688ED3; }
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active { background: #BEDDF6; color: #FFFFFF; }
.wizard > .content { background: #F5F5F5; }
.wizard > .content > .body input { border-color: #CCCCCC; }
.wizard > .content > .body input.error { background: #FBE3E4; color: #9E0B0E; border-color: #FBC2C4; }
.wizard > .content > .body input label.error { color: #9E0B0E; }

/* -------------------------------------- TOGGLE SWITCH -------------------------------------- */
.slider { background-color: #AAAAAA; }
.slider:before { background-color: #FFFFFF; }

input:checked + .slider { background-color: #4CAF50; }

/* -----------------------------------------------------------------------------------------------------------------------  */
.card-plus .card-header { color: #495057; }
.card-plus.card-plus-bg-light .card-header { background-color: #F5F5F5; }
.card-plus.card-plus-bg-light .card-body { background-color: #FFFFFF; }

.card-func { border-bottom-color: #DDDDDD; }

.nav-tabs .nav-link { color: #005B9A; border-color: #DEE2E6 #DEE2E6 #FFFFFF; }

.tab-line li a.nav-link { color: #005B9A; }
.tab-line li a.nav-link.active { border-bottom-color: #495057; }

.btn-group > .btn:focus { box-shadow: 0 0 0 3px rgba(134, 142, 150, 0.5); }
.btn-group > .btn:active { border-color: transparent; }

button:visited, button:focus, button:hover, button:active, button:active:focus, .btn:visited, .btn:focus, .btn:hover, .btn:active, .btn:active:focus { outline: none; }

.btn-plus { border-color: transparent; }

.btn-default { color: #696C74; background-color: #FFFFFF; border-color: #BDC3D1; }
.btn-default:focus, .btn-default:active:hover { color: #696C74; background-color: #E6E6E6; border-color: #727F9C; }
.btn-default:hover, .btn-default:active { color: #696C74; background-color: #E6E6E6; border-color: #99A3B7; }
.btn-default:focus, .btn-default:active:focus { outline: 5px auto #727F9C; box-shadow: 0 0 0 0.2rem rgba(114, 127, 156, 0.35); }
.btn-default.disabled, .btn-default[disabled] { background-color: #FFFFFF; border-color: #BDC3D1; }

.btn-primary { color: #FFFFFF; background-color: #2574AB; border-color: transparent; }
.btn-primary:focus, .btn-primary:hover, .btn-primary:active:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active { color: #FFFFFF; background-color: #5894BE; border-color: transparent; }
.btn-primary:focus, .btn-primary:active:focus { outline: 5px auto #17496B; box-shadow: 0 0 0 0.2rem rgba(23, 73, 107, 0.35); }
.btn-primary:active:hover { color: #FFFFFF; background-color: #164464; border-color: transparent; }
.btn-primary.disabled, .btn-primary[disabled] { background-color: #ACCADF; border-color: transparent; }

.btn-secondary { background-color: #3B3F43; color: #FFFFFF; }
.btn-secondary:focus, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:active:focus { color: #FFFFFF; background-color: #666666; }
.btn-secondary:focus, .btn-secondary:active:focus { outline: 5px auto #272B2F; box-shadow: 0 0 0 0.2rem rgba(39, 43, 47, 0.35); }
.btn-secondary:active:hover { color: #FFFFFF; background-color: #272B2F; }

.btn-plus-shadow { box-shadow: 1px 1px 2px 0px #BBBBBB; }

.btn-plus-icon-plugin { background: #E4E4E4; border-color: #DDDDDD; color: #3B3F43; background-image: linear-gradient(to bottom, #FFFFFF, #E4E4E4); }
.btn-plus-icon-plugin:focus { box-shadow: 0 0 0 0.2rem rgba(32, 35, 39, 0.25); }

.show > .btn-primary.dropdown-toggle { color: #FFFFFF; background-color: #5894BE; border-color: transparent; }

.modal-plus .modal-content { border-color: #BBBBBB; }

.accordion-plus { background-color: #FFFFFF; }
.accordion-plus .accordion-content { color: #222222; }
.accordion-plus .accordion-heading { background-color: #BBBBBB; }
.accordion-plus .accordion-msg { color: #FFFFFF; border-top-color: #DDDDDD; }
.accordion-plus .accordion-msg:focus, .accordion-plus .accordion-msg:hover { color: #5C5C5C; outline: none; }

.breadcrumb { background-color: #F7F7F7; border-color: #F7F7F7; }

.breadcrumb-item.active { color: #3B3F43; }

li.breadcrumb-item { color: #808080; }

.badge-primary { color: #FFFFFF; background-color: #1352A2; }
.badge-primary[href]:focus, .badge-primary[href]:hover { color: #FFFFFF; background-color: #0C3364; }

.badge-secondary { color: #FFFFFF; background-color: #808080; }

.badge-success { color: #FFFFFF; background-color: #2B9464; }

.badge-danger { color: #FFFFFF; background-color: #CF2E3B; }

.badge-warning { color: #212529; background-color: #FBC723; }
.badge-warning[href]:focus, .badge-warning[href]:hover { color: #212529; background-color: #ECB100; }

.badge-light { color: #212529; background-color: #FDFDFD; }
.badge-light[href]:focus, .badge-light[href]:hover { color: #212529; background-color: #EEEEEE; }

.badge-dark { color: #FFFFFF; background-color: #5C5C5C; }
.badge-dark[href]:focus, .badge-dark[href]:hover { color: #FFFFFF; background-color: #383D41; }

.badge-dot-primary { background-color: #1352A2; }

.badge-dot-secondary { background-color: #808080; }

.badge-dot-success { background-color: #2B9464; }

.badge-dot-danger { background-color: #CF2E3B; }

.badge-dot-warning { background-color: #FBC723; }

.badge-dot-info { background-color: #17A2B8; }

.badge-dot-dark { background-color: #495057; }

.callout { border-color: #EEEEEE; }

.callout-warning { border-left-color: #F0AD4E; }

.callout-danger { border-left-color: #D9534F; }

.callout-info { border-left-color: #5BC0DE; }

.sidebar-plus { background-color: #E6E6E6; }
.sidebar-plus a.sidebar-plus-item, .sidebar-plus a.sidebar-plus-item-brand { color: #000000; }
.sidebar-plus a.sidebar-plus-item-brand { background-color: #118077; color: #FFFFFF; }
.sidebar-plus a.sidebar-plus-item.active { background-color: #5e8fa6; color: #FFFFFF; }
.sidebar-plus a.sidebar-plus-item:hover:not(.active) { background-color: #808080; color: white; }
.sidebar-plus .sidebar-plus-dropdown a.dropdown-item.active { background-color: #5E8FA6; color: #FFFFFF; }
.sidebar-plus .sidebar-plus-dropdown a.dropdown-item:hover:not(.active) { background-color: #808080; color: #FFFFFF; }

.sidebar-plus-menu-icon, .sidebar-plus-menu-toggle { background-color: #118077; color: #FFFFFF; }

.checkbox-plus .checkbox-label input[type=checkbox]:not([disabled]) ~ .checkmark { background-color: #CCCCCC; }
.checkbox-plus .checkbox-label input[type=checkbox]:checked ~ .checkmark { background-color: #666666; }
.checkbox-plus .checkbox-label .checkmark:after { border-color: #FFFFFF; }
.checkbox-plus.checkbox-plus-disabled .checkbox-label { color: #CCCCCC; }
.checkbox-plus.checkbox-plus-disabled .checkbox-label .checkmark { background-color: #DDDDDD; }

.radiobutton-plus .radiobutton-label input[type=radio]:checked ~ .checkmark { background-color: #666666; }
.radiobutton-plus .radiobutton-label .checkmark { background-color: #CCCCCC; }
.radiobutton-plus .radiobutton-label .checkmark:after { background: #FFFFFF; }
.radiobutton-label .radiobutton-plus:not(.radiobutton-plus-disabled):hover input[type=radio] ~ .checkmark { background-color: #AAAAAA; }
.radiobutton-plus.radiobutton-plus-disabled .radiobutton-label { color: #CCCCCC; }
.radiobutton-plus.radiobutton-plus-disabled .radiobutton-label .checkmark { background-color: #DDDDDD; }

::placeholder { color: #AAAAAA; }

:-ms-input-placeholder { /* Internet Explorer 10-11 */ color: #AAAAAA; }

::-ms-input-placeholder { /* Microsoft Edge */ color: #AAAAAA; }

/* ----------------------------------元件的CSS START----------------------------------  */
.progress-title { color: #000000; }

.progress { background: #DDDDDD; }
.progress .progress-value { color: #696C74; }
.progress .progress-bar { box-shadow: none; }

.progressbar-modal-header { background: #4CAF50; color: white; }

.progressbar-modal-body { background: #F2F2F2; }

.progressbar-modal-content > div:nth-child(2) { border-bottom-color: #DDDDDD; }

/*---------------------------------------------------------------------------------*/
.evgFileUpload-uploader-outer { color: #5F6982; }

.evgFileUpload-uploader label { background-color: #F7F7F7; background: #FFFFFF; border-color: #CCCCCC; }
.evgFileUpload-uploader label:hover { border-color: #279759; }
.evgFileUpload-uploader label.hover { border-color: #279759; box-shadow: inset 0 0 0 6px #EEEEEE; }

#evgFileUploadDragStart i { color: #279759; }

.evgFileUpload-uploader-component-result { background-color: #279759; color: #FFFFFF; }

.evgFileUpload-uploader-list-items { border-bottom-color: #DDDDDD; }
.evgFileUpload-uploader-list-items i.notice { color: #D25565; }
.evgFileUpload-uploader-list-items i.check { color: #6ABE83; }

.evgFileUpload-error { color: #D25565; }

#evgFileUploadList .fa-info-circle { color: #7694C8; }

.evgFileUpload-file-fa { color: #CCCCCC; }

.evgFileUpload-completed { background: #EEEEEE; }

/* Desktop timeout */
#divSessionLogout { background-color: #53A4AB; color: #FFFFFF !important; }
#divSessionLogout:hover { color: #FFFFFF !important; background-color: #00CADC !important; }

#modalDesktopSessionTimeout span[name=leftTime] { color: #F75555; }

#divSessionClose { background-color: #777272 !important; color: #FFFFFF !important; }
#divSessionClose:hover { color: #5D5A5A !important; background-color: #DDDDDD !important; }

/* ----------------------------------元件的CSS END---------------------------------- */
