@charset "UTF-8";
/* Fit.css被拿掉還是要存在的css */
/* -----------------------------------------------------------------------------------------------------------------------  */
.mark-cell-dirty { position: relative; }

.mark-dirty { width: 0; height: 0; padding: 0; }

.btn.btn-lov { min-width: 2.25rem; height: 100%; line-height: initial; padding: 0; }

span.mark { padding-left: 0.9375rem; }

/* SOL+ header START */
.app-width-1024 { min-width: 1024px; }

#app_header { width: 100%; height: 2.25rem; padding: 0.3125rem; }

#app_main { padding-bottom: 1.375rem; margin: 0 auto; }

#app_footer { width: 100%; height: 1.375rem; padding: 0.1875rem; font-size: 0.625rem; }

.header_toolbar_home { margin: 0.375rem 0rem 0.125rem 0.375rem; width: 2.5rem; }
.header_toolbar_home button[type=button] { width: 2.25rem; height: 1.5rem; padding: 0.125rem 0.25rem; }

.header_toolbar_tool { margin: 6px 0px 2px 6px; padding-right: 10px; }
.header_toolbar_tool button[type=button] { height: 1.625rem; padding: 0; margin: 0rem 0.1875rem; }
.header_toolbar_tool img { margin: 1px 3px; }
.header_toolbar_tool img:hover { margin: 1px 3px; }

.header_toolbar_logo { width: 10.625rem; }

.app_padding { padding: 0.625rem; }

.show_login_id { font-size: 0.8125rem/1rem; }

.show_file_name { padding: 0rem 0.375rem; }

.with_plus_header_height { padding-top: 2.25rem; }

/* SOL+ header END */
/* -----------------------------------------------------------------------------------------------------------------------  */
/*----------------------------------元件的CSS START----------------------------------*/
.progress-title { font-size: 18px; margin: 0 0 10px; }

.progress-outer { padding: 5px 55px 5px 5px; margin-bottom: 20px; }

.progress { margin: 0; }
.progress .progress-value { font-size: 18px; }

.progressbar-modal-header { padding: 10px 20px; }

.progressbar-modal-content { padding: 0; }

.progress-status { padding-left: 10px; }

/*---------------------------------------------------------------------------------*/
#evgFileUploadModel .modal-header .close { margin-top: -6px; font-size: 31px; }

.evgFileUpload-uploader-outer { padding: 6px; }

.evgFileUpload-uploader { margin: 0 auto; width: 30%; }
.evgFileUpload-uploader label { height: 336px; width: 100%; }

#evgFileUploadDragStart { width: 100%; padding: 5.8rem 0.85rem; }
#evgFileUploadDragStart i { font-size: 50px; margin-bottom: 1rem; }

.evgFileUpload-uploader-component-result { line-height: 15px; margin-left: 13px; padding: 0px 4px; }

.evgFileUpload-uploader-list { width: 70%; }

.evgFileUpload-uploader-list-items { padding: 10px 6px; margin-right: 2px; margin-left: 13px; }

#evgFileUploadNoFileSelectStr { height: 100% !important; width: 100% !important; font-size: 20px; }

#evgFileUploadList { height: 290px; }
#evgFileUploadList i.close, #evgFileUploadList i.check, #evgFileUploadList i.notice { font-size: 20px; padding-left: 12px; }
#evgFileUploadList .fa-info-circle { font-size: 15px; margin-bottom: 3px; }

.evgFileUpload-file-fa { font-size: 30px; }

.evgFileUpload-progress { height: 10px; margin: 5px 0; }

#evgFileUploadForUploadarBtn { margin-top: 5px; margin-bottom: 5px; }

.evgFileUpload-Bottom { margin-top: 6px; }

/* Desktop timeout */
#divSessionLogout, #divSessionClose { font-size: 20px; padding: 5px; font-weight: bold; margin: 0; }

#modalDesktopSessionTimeout span[name=leftTime] { font-weight: bold; font-size: 20px; }
#modalDesktopSessionTimeout .modal-footer { padding: 0px; }

/* ----------------------------------元件的CSS END---------------------------------- */
