/*網頁底色*/
body.hms_style{
    color:#333;
}
.body-plus-default.hms_style{
    /*background-color:rgba(220, 239, 238, 1);*/
    background-color:rgba(220, 244, 241, 1);
    background-image:url(/comm/images/hms2_bg1.png);
    background-repeat:repeat;
    /*background-image:none;*/  
}
/*panel底色*/
.hms_style .panel-plus{
	/*background-color:#fdf4bf;*/
}
/*上方工具列*/
.hms_style .toolBar{
    background-color:#fbdc7e;
}
/*fieldset底色*/
.hms_style fieldset.blockFieldset{
    background-color:#f9f7ec;
}
/*彈出視窗(modal)底色*/
.hms_style .hms_modal-body{
    background-color:#f9f7ec;
}

/*資列組title/標題顏色*/
.hms_style ul.dataUl>li.dataTitle{
    background-color:#f9f1c8;
}
/*table排版 標題顏色*/
.hms_style .table-plus th{
	background-color:#f9f1c8;
}
/*奇偶行變色*/
.hms_style .table-list-td tr, :not([data-evg-grid-bg-manual]).table-list > tbody > tr:nth-child(2n+1){
	background-color:rgba(219, 250, 227, 1);
}
/*滑鼠移入行數變色*/
.hms_style .table-list-td tr.hover, .table-list:not([data-evg-grid-bg-manual]) > tbody > tr:hover{
	background-color:#a4e6e3 !important;
	background-color:#abefeb !important
}

/*hms 包含展開細項目的奇偶行變色*/
:not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+1),
:not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+2){
	background-color:rgba(219, 250, 227, 1);
	background-color:rgba(229, 252, 227, 1);
}
:not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+3),
:not([data-evg-grid-bg-manual]).table-list.subDataTable > tbody > tr:nth-child(4n+4){
    background-color:#FFFFFF;
}

/*plus navBar style*/
.hms_style .navbar-plus{
    /*background-color:pink;*/
    background-color:rgba(19, 161, 180, 1);
    background-color:rgba(50, 180, 184, 1);
}

.hms_style .navbar-plus a:not(.navbar-nav){
	/*color:#444;*/	
}
.navbar-plus a:not(.navbar-nav){
	background-color:rgba(237, 237, 237, 0.1);
}

/*detail form(collapse) left border color*/
.hms_style .detail-form{
	border-left-color:rgba(41, 163, 45, 1);
}

.hms_style .sameDetailForm{
	border-left:solid 3px rgba(41, 163, 45, 1) !important;
}

/**/
.hms_style .panel{
	background-color:#f9f7ec;
}

.hms_style .panel-default > .panel-heading{
	background-color:#f9f7ec;
}

.hms_style .panel-footer{
	background-color:#f9f7ec;	
}

.hms_style .modal-content{
	background-color:#f9f7ec;
}