.fa { /*vertical-align: middle;*/ margin-top: 0px; margin-right: 1px; }
.fa-plus-btn { border-style: solid; border-width: 1px; padding: 3px 5px 5px 5px; border-color: #BBBBBB; background-color: #FFFFFF; border-radius: 5px; min-width: 20px; box-shadow: #999999 1px 1px; }
.fa-plus-btn.active, .fa-plus-btn:active { background-image: none; outline: 0; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
.fa-lg.fa-plus-btn { font-size: 18px; }
.fa-plus-btn { text-align: center; vertical-align: middle; }
.fa.fa-plus-btn { line-height: 24px; width: 22px; }
.fa.fa-1x.fa-plus-btn { text-align: center; line-height: initial; width: 22px; }
.fa.fa-lg.fa-plus-btn { width: 26px; line-height: 24px; text-align: center; }
.fa.fa-2x.fa-plus-btn { width: 42px; line-height: initial; text-align: center; }
.fa.fa-3x.fa-plus-btn { width: 62px; line-height: initial; text-align: center; }
.fa.fa-4x.fa-plus-btn { width: 82px; line-height: initial; text-align: center; }
.fa.fa-5x.fa-plus-btn { width: 100px; line-height: initial; text-align: center; }
